{% extends 'base.html' %}

{% block title %}Завершите регистрацию{% endblock %}

{% block content %}
<div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('index') }}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('login') }}">Вход</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
        </li>
    </ul>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Главная</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('register') }}">Регистрация</a></li>
            <li class="breadcrumb-item active" aria-current="page">Сообщение</li>
        </ol>
    </nav>
</div>

{% for message in get_flashed_messages() %}
<h1>{{ message }}</h1>
{% endfor %}
{% endblock %}