{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div>
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('index') }}">Главная</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Регистрация</a>
        </li>
    </ul>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ url_for('index') }}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Авторизация</li>
        </ol>
    </nav>
</div>
{% for mesg in get_flashed_messages() %}
<h1>{{ mesg }}</h1>
{% endfor %}
<div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="{{ url_for('register') }}" class="text-info">Register here</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}